*{margin:0; padding:0;}
a{color:inherit; text-decoration: none; cursor: pointer;}
ul,li{list-style: none;}


/*************/

$headerHeight:80px;
$titleWidth:600px;
$sectionHeight:930px;
$footerHeight:150px;
$proBoxHeight:25rem;


/***************/
body{
    background-image: url(../image/back01.jpg);
    background-size: cover;
}

header{
    width:100%;
    background-color:rgba(0,0,0,0.5);
    height: $headerHeight;
    position: fixed;
    top:0; left:0;

    & .header{margin-top: calc( #{$headerHeight} / 2 - 0.5rem);}
    & .logo{float:left;
        width:10%;
        // background-color: yellow;
        & > img{width:100%;}
    }
    & .nav{float:left;
        width:50%;
        padding-left:15%;
        // background-color: yellowgreen;
        & > ul > li {float:left;
                width:calc(100% / 4);
                text-align: center;
                color:white;
                font-size: 0.8rem;
                &:hover{color:red}
                li{display: none;}
            }
    }
}

section{
    height:$sectionHeight;
    color:red;
    &.sec1{        
        .title{color:white;
            position:absolute;
            top:50%; left:calc(50% - #{$titleWidth} / 2) ;
            width: $titleWidth;
            text-align: center;
            letter-spacing: 0.4rem;
            font-weight: 100;
            font-size: 1.5rem;}

    }

    &.sec2{
        background-color: rgba(255,255,255,0.5);
    //     & >div{width:80%; margin-left: 10%; }
    //    #product{
    //        background-color: #000;
    //        width:$proBoxHeight;
    //        height : $proBoxHeight;
    //        float:left;   
    //        margin: 0.5rem;
    //        margin-top: 1rem;
    //  flex 이용  }
    }
}

footer{
    height: $footerHeight;
    background-color:#000;
}